.card {
  margin: 0.25rem;
}

.content {
  margin: 1rem;
}

.content .button {
  padding: 10px;
  width: 5rem;
  color: aliceblue;
  background-color: #7ab97a;
  border: none;
  outline: none;
  font-size: larger;
  text-transform: uppercase;
}

.card-content {
  margin-top: 1rem;
}

.card-content {
  display: grid;
  grid-template-columns: 40% 30% auto;
  margin-bottom: 10px;
}

.heading-container {
  margin: 30px 0 30px 0;
  width: 100%;
}

.content-info {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.15rem;
  word-wrap: break-word;
  padding-right: 10px;
  color: #808080;
  text-transform: uppercase;
}